################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ItemApiProject/obj
/ItemGUI/obj
/ItemApiProject/bin/Debug/netcoreapp2.2
/ItemGUI/bin/Debug/netcoreapp2.2
